<div>
  <%= render "/users/back" %>
  <%= render "/users/home" %>
  <div class="post">
    <div class="post_head">
        <h2 class="post__title"><%= @post.title %> by <%= @post.author.name %></h2>
      <div class="post__likes_comments_counter">
        <p class="show-li">Comments : <%= @post.comments.size%>  Likes : <%= @post.likes.size %> </p>
      </div>
    </div>
    <p class="post__text"><%= @post.text %> </p>
  </div>

    <%= render partial: "comments_section", locals: { comments: @post.comments } %>
    <%= render "/comments/comment_form" %>
    <%= render "/likes/like" %>
</div>
